 <!DOCTYPE html>

 <html lang="en">
 
 <head>
     <meta charset="utf-8" / >
     <link rel="apple-touch-icon" sizes="76x76" href="../assets/img/apple-icon.png">
     <link rel="icon" type="image/png" href="../assets/img/favicon.ico">
     <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
     <title>Admin</title>
     <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
     <!--     Fonts and icons     -->
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">

     <style>
        body {font-family: Arial, Helvetica, sans-serif;}
        
        /* The Modal (background) */
        .modal {
          display: none; /* Hidden by default */
          position: fixed; /* Stay in place */
          z-index: 1; /* Sit on top */
          padding-top: 100px; /* Location of the box */
          left: 0;
          top: 0;
          width: 100%; /* Full width */
          height: 100%; /* Full height */
          overflow: auto; /* Enable scroll if needed */
          background-color: rgb(0,0,0); /* Fallback color */
          background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
        }
        
        /* Modal Content */
        .modal-content {
          position: relative;
          background-color: #fefefe;
          margin: auto;
          padding: 0;
          border: 1px solid #888;
          width: 80%;
          box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
          -webkit-animation-name: animatetop;
          -webkit-animation-duration: 0.4s;
          animation-name: animatetop;
          animation-duration: 0.4s
        }
        
        /* Add Animation */
        @-webkit-keyframes animatetop {
          from {top:-300px; opacity:0} 
          to {top:0; opacity:1}
        }
        
        @keyframes animatetop {
          from {top:-300px; opacity:0}
          to {top:0; opacity:1}
        }
        
        /* The Close Button */
        .close {
          color: white;
          float: right;
          font-size: 28px;
          font-weight: bold;
        }
        
        .close:hover,
        .close:focus {
          color: #000;
          text-decoration: none;
          cursor: pointer;
        }
        
        .modal-header {
          padding: 2px 16px;
          background-color: #5cb85c;
          color: white;
        }
        
        .modal-body {padding: 2px 16px;}
        
        .modal-footer {
          padding: 2px 16px;
          background-color: #5cb85c;
          color: white;
        }
        </style>
</head>
 
 <body>
    <div style="max-width: 350px ; margin: 50px auto;">
       <form method="POST" id="idForm" action="/sign_in">
            <!-- Email input -->
            <div class="form-outline mb-4">
            <input type="text" id="username" name="username" class="form-control" placeholder="User Name" />
            <label class="form-label" for="userName">User Name</label>
            </div>
        
            <!-- Password input -->
            <div class="form-outline mb-4">
            <input type="password" name="password" id="password" class="form-control" placeholder="Password" />
            <label class="form-label" for="passWord">Password</label>
            </div>
        
            <!-- 2 column grid layout for inline styling -->
            <div class="row mb-4">
            <div class="col d-flex justify-content-center">
                <!-- Checkbox -->
                <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="form2Example31" checked />
                <label class="form-check-label" for="form2Example31"> Remember me </label>
                </div>
            </div>
        
            <div class="col">
                <!-- Simple link -->
                <a href="#!">Forgot password?</a>
            </div>
            </div>
        
            <!-- Submit button -->
            <button type="submit" class="btn btn-primary btn-block mb-4">Sign in</button>
        
            <div class="text-center" style="">
                <p>Not a member? <a style="color: blue;cursor: pointer;" id="myBtn">Register</a></p>
                <!-- <span>or sign up with:</span> -->
            </div>
            <!-- <button type="button" class="btn btn-link btn-floating mx-1">
                <i class="fab fa-facebook-f"></i>
            </button>
        
            <button type="button" class="btn btn-link btn-floating mx-1">
                <i class="fab fa-google"></i>
            </button>
        
            <button type="button" class="btn btn-link btn-floating mx-1">
                <i class="fab fa-twitter"></i>
            </button>
        
            <button type="button" class="btn btn-link btn-floating mx-1">
                <i class="fab fa-github"></i>
            </button> -->
            </div>
            </form> 
    <!-- Register buttons -->
   
    <div id="myModal" class="modal">
        <!-- Modal content -->
        <div class="modal-content"  style="width: 25% !important;">
          <div class="modal-header">
              <h2>Đăng ký tài khoản</h2>
              <span class="close">&times;</span>
          </div>
          <div class="modal-body">
            <form action="/register" method="post" id="register" >
                
                <div class="form-group">
                    <label for="user-register">User:</label>
                    <input name="user" type="text" class="form-control" id="user-register">
                </div>

                <div class="form-group">
                  <label for="user-register">User name:</label>
                  <input name="username" type="text" class="form-control" id="username-register">
                </div>

                <div class="form-group">
                  <label for="pwd-register">Password:</label>
                  <input name="password" type="password" class="form-control" id="pwd-register">
                </div>
                
                <div class="form-group">
                    <label for="email-register">Email:</label>
                    <input value="" name="email" type="email" class="form-control" id="email-register">
                </div>
                <button type="submit" class="btn btn-primary" style="margin: 20px auto;" id="btn-register">Submit</button>
              </form>
            <!-- <p>Some text in the Modal Body</p>
            <p>Some other text...</p> -->
          </div>
          <!-- <div class="modal-footer">
            <h3>Modal Footer</h3>
          </div> -->
        </div>
    </div>
      
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js" integrity="sha512-STof4xm1wgkfm7heWqFJVn58Hm3EtS31XFaagaa8VMReCXAkQnJZ+jEy8PCC/iT18dFy95WcExNHFTqLyp72eQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js" integrity="sha512-3j3VU6WC5rPQB4Ld1jnLV7Kd5xr+cq9avvhwqzbH/taCRNURoeEpoPBK9pDyeukwSxwRPJ8fDgvYXd6SkaZ2TA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script type="text/javascript">
    function setCookie(cname, cvalue, exdays) {
        const d = new Date();
        d.setTime(d.getTime() + (exdays * 24 * 60 * 60 * 1000));
        let expires = "expires="+d.toUTCString();
        document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
    }
    $().ready(function() {
        $("#idForm").submit(function(e) {

        e.preventDefault(); // avoid to execute the actual submit of the form.

        var form = $(this);
        var actionUrl = form.attr('action');

        $.ajax({
            type: "POST",
            url: actionUrl,
            data: form.serialize(), // serializes the form's elements.
            success: function(data)
            {
                console.log('sai tai khoan hoac mat khau', data)
                if(data.error_code == 0){
                    window.location.href = "/dashboard";
                    setCookie("token", data.data.token);
                }else{
                    console.log('sai tai khoan hoac mat khau', data)
                }
            }
        });

        });
        // function onSinginClick(){
        // $.ajax({
        //     url: `/sign_in`, 
        //     type: 'POST',
        //     data: {
        //         username: $('#username').val(),
        //         password: $('#password').val()
        //     },
        //     success: function(result){
        //     console.log('tra ra cai gi ko', result)
        // }});
        // }

        $("#register").submit(function(e) {

          e.preventDefault(); // avoid to execute the actual submit of the form.

          var form = $(this);
          var actionUrl = form.attr('action');

          $.ajax({
              type: "POST",
              url: actionUrl,
              data: form.serialize(), // serializes the form's elements.
              success: function(data)
              {
                // console.log('di choi di ti nua quay lai', data)
                  if(data.error_code == 0){
                    window.location.href = "/dashboard";
                  }
                  if(data.error_code == 1){
                    $('#btn-register')
                    .prev()
                    .remove()
                    // .end()
                    // .before(`<div style='color: red;font-size: 10'>${data.error_message}</div>`);
                    $("#btn-register").before(`<div style='color: red;font-size: 10'>${data.error_message}</div>`);
                  }
              }
          });

        });
    })
    // Get the modal
var modal = document.getElementById("myModal");

// Get the button that opens the modal
var btn = document.getElementById("myBtn");

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks the button, open the modal 
btn.onclick = function() {
  modal.style.display = "block";
}

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
  modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}
</script>
</html>
